.banner {
    height: 65vh;
}

.banner .videodisney {
    width: 100%;
    position: fixed;
    z-index: -1;
    transition: 1s;
    box-shadow: rgb(0, 0, 0) 0px 26px 30px -10px, rgb(0, 0, 0) 100px 16px 10px -10px;
}

.banner .videodisney.disneyscroll {
    opacity: 0.5;
}

@media (max-width: 1055px) {
    .banner {
        height: 30vh;
    }
}